.flex-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.width-40 {
    width: 40%;
}
.svg-icon {
    position: relative;
    top: -1px;
    left: -4px;
}